link(href='./stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
link(href="https://use.fontawesome.com/releases/v5.0.13/css/all.css", rel="stylesheet", type="text/css")
link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet", type="text/css")
link(href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1468162/custom-resto.css", rel="stylesheet", type="text/css")
link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.3.1/css/all.css",integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU",crossorigin="anonymous")
