div.signin-tab.mt-5
     ul.nav.nav-pills
         li.nav-item.col-sm-6
             a.nav-link(href="/auth/signin") Login
         li.nav-item.col-sm-6
             a.nav-link(href="/auth/register") Register
