div.mt-3
  a(href="/auth/signin").mr-3
    button.btn.btn-primary.py-2.px-4 Sign In
  a(href="/auth/register")
    button.btn.btn-primary.py-2.px-4 Sign Up
  a(href="/auth/facebook")
    button.btn.btn-primary.py-2.px-4 USE FACEBOOK