extends layout

block content
  .py-3
      .signin-title
        if message
          h1 Hi!
          p #{message}
        else
          h1 Hi!
      .signin-body
        include includes/logintabs.pug
        include includes/socialbtn.pug