doctype html
html
  head
    title= title
    include includes/head.pug
  body
    .container.main-container.mt-3
      .row
        .col
          block content
      if (isSignedIn)
        .row
          .col
            p.lead
            include includes/signoutbtn.pug