extends layout

block content
  .card.py-3
    .card-title
      h1 Logged In
    .card-body
    
    if name
      h3 Hi, #{name}, I am happy to see you!
    else
      h3 Hi STRANGER, I am still happy to see you!

      p Welcome to your profile!
      
