extends layout

block content
  .py-3
      .signin-title
        if message
          h1 Sign In
          p #{message}
          != messages()
        else
          h1 Sign In
          != messages()
      .signin-body
        include includes/logintabs.pug
        form.signin-form.mt-3(action = "/auth/signin" role="form" method = "POST")
          .form-group
            input.form-control.form-input.col-sm-12(name= "username" type = "text" required placeholder = "email@email.com")
            input.form-control.form-input.col-sm-12(name= "password" type = "password" required placeholder="Password")
            button.btn.btn-lg.btn-warning.mt-4.col-sm-12(type="submit") Sign In
          include includes/socialbtn.pug
        


