extends layout

block content
  .py-3
      .signin-title
        if message
          h1 Sign Up
          p #{message}
          != messages()
        else
          h1 Sign Up
          != messages()
      .signin-body
        include includes/logintabs.pug
        form.mt-3.signin-form(action = "/auth/register" role="form" method = "POST")
          .form-group
            input.form-control.form-input.mt-1(name = "username" type = "text" required placeholder = "email@email.com")
            input.form-control.form-input.mt-1(name = "password" type = "password" required placeholder = "Password")
            input.form-control.form-input.mt-1(name = "passwordConf" type = "password" required placeholder = "Password Confirmation")
          button.btn.btn-lg.btn-warning.mt-4.col-sm-12(type= "submit") Create Account
          include includes/socialbtn.pug
