body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  margin: 0;
}

a {
  color: #00B7FF;
}

.row {
  display: flex;
}

#metric-card {
  height: auto;
  width: auto;
  margin: 0.5em;
  padding: 0.25em
}

.body-card {
  margin: 0.5em;
  padding: 0.25em
}

.main-container {
  border: 0px solid black;
  height: 750px;
}


/* Signin Form*/

.signin-body {
  width: 600px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.nav-pills {
  text-align: center;
  /*border: none !important;*/
}

.nav-item {
  padding: 0px !important;
}

.signin-form input {
  border: none;
  border-bottom: 1px solid grey;
  opacity: 0.5;
  height: 55px;
  width: 600px;
}

.form-input:focus {
  box-shadow: none !important;
  background-color: #fff;
}


/* Copyrights*/

.copyrights {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
  text-align: center;
}
